.box{
    background-color: red;
    color: white;
    margin-bottom: 10px;
    padding: 30px;
}
.box2{
    background-color: black;
    color: red;
    margin-bottom: 10px;
    padding: 30px;
}
 
h1{
    text-align: center;
}

.box3{
    background-color: black;
    color: red;
    padding: 18px;
    margin-bottom: 10px;
}
.box4{
    background-color: red;
    color: white;
    margin-bottom: 10px;
    padding: 30px;
}